* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

:root {
  font-size: 62.5%;
}

/* index style */
header {
  margin-top: 4.2rem;
  margin-left: 7rem;
  position: fixed;
}

.container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

nav a {
  text-decoration: none;
  color: #FFF;
}

nav a:hover {
  font-weight: 700;
}